/* PasswordStrengthChecker.css */

.password-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-strength {
  // text-align: right;
  font-size: 0.8rem;
  font-weight: bold;
}

.weak {
  color: red;
}

.medium {
  color: orange;
}

.strong {
  color: green;
}